.box1 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(193, 173, 211);
    font-size: xx-large;
    font-family: cursive;
    color: rebeccapurple;
    padding: 30px;
    margin: 30px;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;

}

.aboutme {
    display: flex;
    border: 5px solid aqua;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.introduction {
    font-size: x-large;
    font-family: cursive;
    color: aliceblue;
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.articles article {
    /* flex box child styles */
    flex-basis: 100%;
    background-color: bisque;
    padding: 16px 8px;
    margin: 5px 10px;
    border-radius: 5px;
    flex-grow: 1;
    /* now make this also a flex parent */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* target just the link inside articles */
    a {
        text-transform: uppercase;
    }
}

article .icon {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.content1 {
    display: flex;
    background-image: url(images/swingdayfaded.jpg);
    height: 100svh;
    margin: -318px 0 0 0;
    padding: 318px 0 0 0;
    justify-content: center;
    align-items: flex-start;
}

.content2 {
    display: flex;
    background-image: url(images/work2faded.png);
    height: 100svh;
    margin: -318px 0 0 0;
    padding: 318px 0 0 0;
    justify-content: center;
    align-items: flex-start;
}

.content3 {
    display: flex;
    background-image: url(images/community.png);
    height: 100svh;

    margin: -318px 0 0 0;
    padding: 318px 0 0 0;
    justify-content: center;
    align-items: flex-start;
}
.content11 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.content111 {
    width: 20%;
    height: auto;
}

.content111 img {
    width: 100%;
    height: 257px;
    border: 5px solid aquamarine;
    object-fit: cover;
}

footer {
    display: flex;
    flex-direction: column-reverse;
    justify-items: end;
    align-items: center;
    font-size: larger;
    color: aliceblue;
    height: 60px;
    margin: 60px 0 0 0;
}

/* Add media queries */

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .box1 {
        flex-direction: column;
        text-align: center;
    }
    .articles {
        flex-direction: column;
    }
    .content11 {
        flex-direction: column;
    }
    .content111 {
        width: 100%;
        margin-bottom: 20px;
    }
    .content111 img {
        height: auto;
        max-width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .articles {
display: flex;
    }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

/* Background images */

/* Contact form styles */
.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 150px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    text-align: center;
}

.contact h2 {
    color: rebeccapurple;
    font-family: cursive;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact input[type="submit"] {
    background-color: rebeccapurple;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 4px;
}

.contact input[type="submit"]:hover {
    background-color: rgb(193, 173, 211);
}